<sc-nav></sc-nav>
<section class="page-section about-heading py-5">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Thank you for your support</span>
              <span class="section-heading-lower">Your Order Has Been Successfully Placed</span>
            </h2>
            <p class="text-justify">Philanthropy Message</p>
            <p class="text-justify mb-0">Percentage of proceedes message</p>
            <div class="row no-gutters pt-5">
              <a routerLink="/" class="btn btn-outline-primary mx-auto">Return to Home Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<sc-footer></sc-footer>