<!-- Contact Section -->
<section class="contact-section bg-black">
  <div class="container">
      <h4 class="text-center text-light">Support Our Cause Today!</h4>
    <div class="row mt-2">
      
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fas fa-shopping-bag text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Shop for Gear</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="#">
                Visit Shop
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                
                <a href="#">Email</a>
              </div>
            </div>
          </div>
        </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-hand-holding text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Become a Supporter</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="#">Support Strong and Courageous today!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social d-flex justify-content-center">
      <a href="#" class="mx-2">
        <i class="fab fa-twitter" title="Follow us on Twitter"></i>
      </a>
      <a href="https://www.facebook.com/1strongandcourageousapparel/" target="_blank" title="Visit our Facebook page" class="mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-instagram" title="Visit our Instagram"></i>
      </a>
    </div>

  </div>
</section>
