<sc-nav></sc-nav>

<section class="page-section about-heading py-5">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/images/faith-bg.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Strong Faith, Strong Mind</span>
              <span class="section-heading-lower">About Us</span>
            </h2>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas pretium ipsum. Curabitur eu nulla et purus fringilla lacinia. Nunc eleifend eget nisi id sollicitudin. In laoreet et massa nec semper. Proin vitae consequat sapien. Praesent bibendum, turpis at ornare posuere, lacus augue fringilla est, eget lacinia neque libero at lacus. Phasellus elementum nulla et velit porta euismod. Maecenas finibus urna at nisl rhoncus pharetra. Sed non ultricies felis. Pellentesque bibendum, dui et efficitur laoreet, ligula magna luctus nisi, in imperdiet dui nibh sed metus.</p>
            <p class="text-justify mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas pretium ipsum. Curabitur eu nulla et purus fringilla lacinia. Nunc eleifend eget nisi id sollicitudin. In laoreet et massa nec semper. Proin vitae consequat sapien. Praesent bibendum, turpis at ornare posuere, lacus augue fringilla est, eget lacinia neque libero at lacus. Phasellus elementum nulla et velit porta euismod. Maecenas finibus urna at nisl rhoncus pharetra. Sed non ultricies felis. Pellentesque bibendum, dui et efficitur laoreet, ligula magna luctus nisi, in imperdiet dui nibh sed metus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<sc-footer></sc-footer>