.showcase {
  .showcase-text {
    padding: 3rem !important;
  }
  .showcase-img {
    min-height: 35rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}