<sc-nav></sc-nav>

<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center shop">
      <h1 class="mx-auto my-0 text-uppercase">The Shop</h1>
      <h2 class="text-dark-25 mx-auto mt-2 mb-5">by Strong &amp; Courageous</h2>
    </div>
  </div>
</header>

<section class="page-section" *ngFor="let item of products">
  <div class="container">
    <ng-container *ngFor="let p of filteredProducts; let i = index">
      <div class="col" *ngIf="(cart$ | async) as cart">
        <app-product-card
          [product]="p"
          [shopping-cart]="cart"
        ></app-product-card>
      </div>
      <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
    </ng-container>
    
  </div>
</section>

<sc-footer></sc-footer>